<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/d74a3cd9ba.js" crossorigin="anonymous"></script>

    <title>Evaluate</title>
  </head>
  <body>
    <div class="container">
        <div class="jumbotron">
          <h1 class="display-4" style="font-size:5vw;"><i class="fas fa-graduation-cap"></i>Flipkart Product Subscriber</h1>
          <p class="lead" style="font-size:1.2em;">This is a simple subscriber unit, an interface for subscribing to price updates on flipkart products.</p>
          <hr class="my-4">

          <div class="text-center">
            <form action="/subscribe" method="post" id="subscription">
                <p>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Enter product link here</span>
                      </div>
                      <textarea class="form-control" aria-label="With textarea" form="subscription" name="url"></textarea>
                    
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Enter your email ID here</span>
                        </div>
                        <input type='email' class="form-control" form="subscription" name="email"></textarea>
                      
                      </div>
                  </p>
                <input type="submit" class="btn btn-primary btn-lg text-center" value="Subscribe" name="submit" />
            </form> 
          </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/7.5.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="/__/firebase/7.5.0/firebase-analytics.js"></script>

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
  </body>
</html>
